
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.header__sidebar{
	width: 100%;
	background: #ccc;
	height: 40px;
	left: 0;
}
.menu__sidebar{
	position: fixed;
	left: 0;
	width: 230px;
	height: 100%;
	background: #042331;
}
.menu__sidebar h3{
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	background: #063146;
	user-select: none;
	transition: all .5s ease;
}
.menu__sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition: .4s;
}
.menu__sidebar ul li:hover a{
	padding-left: 50px;
}
.menu__sidebar ul a i{
	margin-right: 16px;
}

section{
	/*background: url(../img/banner/sidebar.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;*/
	/*transition: all .5s;*/
	margin-left: 10px;
}
.treeview{
	display: block;
}
